.members{
	&--item{
		// padding: 10px;
		&__content{
			text-align: center;
			img{
				width: 100%;
				display: block;
			    // height: 200px;
			    border-radius: 10px;
			    object-fit: cover;
			    aspect-ratio: 1 / 1;
			}
			h3{
				font-size: 1em;
				line-height: 1.1em;
				margin-top: 1.25em;
			}
		}
	}
}