.newsletter{
	input[type="email"]{
		width: 100%;
		border-radius: 50px;
		padding: 5px 10px;
		border: solid 1px #FFF;
	}
	button{
		border-radius: 50px;
		background-color: #FFC72F;
		color: #FFF;
		border: solid 1px #FFC72F;
	}
}