.app__header{
	padding: 20px 0;
	&--logo{
		height: 50px;
	}


	nav{
		a{
			padding: 10px;
		}
	}

	@include lmenu;

	.my-profile{
		cursor: pointer;
		background-color: $primary-color;
		padding: 5px 10px;
		border-radius: 50px;
		align-items: center;
    	justify-content: center;
    	display: flex;
    	position: relative;
    	transition: all 400ms;
		&:hover{
			color: #333;
		}
		span{
			margin-right: 10px;
		}

		&__menu{
			position: absolute;
			top: 100%;
			left: 0;
			padding: 10px;
			display: none;
		}
		.profile-icon{
			height: 30px;
			width: 30px;
			border: solid 1px $primary-color;
			border-radius: 250px;
			// box-shadow: 4px 5px 5px rgb(28, 28, 28);
			object-fit: cover;
		}
		a{
			display: flex;
			align-items: center;
			&:hover{
				color: #333;
			}
		}
	}

	.col-btns{
		@include media-breakpoint-down(lg) {
			display: flex;
			align-items: center;
			.open-menu-btn{
				margin-left: 30px;
				font-size: 2em;
			}
		}
	}
}