.app__profile{
	.container{
		// color: #333;
		// background-color: #FFF;
		// border-radius: 10px;
		margin-top: 2rem;
	}


	.profile{
		&__header{
			display: flex;
			flex-direction: row;
			align-items: center;



			@include media-breakpoint-down(md) {
				flex-direction: column;
				text-align: center;
			}
			&--photo{
				img{
					height: 150px;
					width: 150px;
					border: solid 1px $primary-color;
					border-radius: 250px;
					box-shadow: 4px 5px 5px rgb(28, 28, 28);
					object-fit: cover;
				}
			}
			.bio{
				color: #333;
			}


			&--presentation{
				padding-left: 20px;
			}
		}

		&__section{
			display: flex;
			flex-direction: row;
			margin-top: 1rem;

			@include media-breakpoint-down(lg) {
				flex-direction: column;
			}
			aside{
				width: 300px;
				max-width: 100%;
				background-color: #333;
				padding: 20px;
				margin-right: 20px;
				border-radius: 10px;
				flex: 0 0 auto;

				@include media-breakpoint-down(lg) {
					width: 100%;
					border-radius: 5px 5px 0px 0px;
				}

				ul li a{
					padding: 10px;
					display: block;
					background-color: #2a2a2a;
					margin-bottom: 10px;
					border-radius: 5px;
					transition: all 400ms;

					&:hover{
						background-color: $primary-color;
						color: #000;
					}
				}
			}
			&--content{
				max-width: 100%;
				background-color: #333;
				padding: 20px;
				border-radius: 10px;
				width: 100%;
				color: #333;

				@include media-breakpoint-down(lg) {
					border-radius: 0px 0px 5px 5px;
				}
			}
		}
	}
}