.app__publis{
	color: #fff;
	margin-top: 40px;
	margin-bottom: 40px;
	min-height: 60vh;
	.container-xl{
		width: 550px;
		max-width: 100%;
	}
}

.publis-list{
	&__item{
		border-radius: 15px;
		background-color: #FFF;
		padding: 20px;
		color: #333;
		margin-bottom: 20px;
		&--header{
			flex-direction: row;
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			img{
				margin-right: 20px;
			}
			.profile-name{
				font-size: 1.2rem;
				font-weight: bold;
			}
			small{
				color: rgba(200,200,200);
			}
		}
		&--content{
			h3{
				font-weight: bold;
				margin-bottom: 0;
				font-size: 1.1rem;
			}
			.like{
				color: #000;

				&.active{
					color: $primary-color;
				}
			}

			.publi_comment{
				width: 100%;
				input{
					width: 100%;
					border-radius: 50px;
					border: solid 1px rgb(230,230,230);
					margin-left: 10px;
					padding: 5px;
					padding-left: 10px;
					height: 40px;
				}
				button{
					background-color: $primary-color;
					border: none;
					width: 35px;
					height: 35px;
					line-height: 35px;
					border-radius: 35px;
					margin-left: -40px;
				}
			}

			.publi__comment--item{
				margin-top: 20px;
				img{
					margin-right: 10px;
				}
				h5{
					font-size: .9rem;
					margin-bottom: 3px;
				}
				p{
					font-size: .9rem;
					color: rgb(150,150,150);
				}
			}
		}
	}
}