.single-event{

	&__hero{
		color: #333;
	}
	h1{
	}

	&__content{
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: #f5f5f5;
		a{
			color: $primary-color;
			font-weight: bold;
		}
	}
}