.app__tutorials{
	padding-top: 20px;
	padding-bottom: 20px;
	h2{
		margin-bottom: 20px;
	}

	.tutorials__item{
		padding: 20px;
		background-color: #FFF;
		border-radius: 5px;
		border: solid 1px #d1d1d1;
		position: relative;
		margin-bottom: 30px;
		&--date{
			margin-top: -10px;
			span{
				padding: 5px 10px;
				border-radius: 50px;
				background-color: $primary-color;
			}
		}
		h3{
			margin-bottom: .1em;
		    font-weight: bold;
		    margin-top: 0.3em;
		}
		& > p{
			margin-bottom: 0;
		}
	}
}