.checkout{
	color: #333;
	padding-bottom: 50px;

	// .left, .right{
	// 	width: 50%;
	// }

	// .right{
	// 	border-radius: 0px 5px 5px 0px;
	// 	background-size: cover;
	// 	background-position: center;
	// 	background-repeat: no-repeat;
	// }


	// @include media-breakpoint-down(xl) {
	// 	.left, .right{
	// 		width: 100%;
	// 	}
	// 	.left{
	// 		border-radius: 5px 5px 0px 0px;
	// 	}
	// 	.right{
	// 		border-radius: 0px 0px 5px 5px;
	// 	}
	// }

	&__header{
		margin-bottom: 0.2em;
		text-align: center;
		a:hover{
			color: $primary-color;
		}
		&--logo{
			height: 50px;

			@include media-breakpoint-down(md) {
				height: 40px;
			}
		}

		hgroup{
			padding: 20px;
			h1{
				font-size: .9rem;
				color: $primary-color;
			}
			h2{
				font-size: 2rem;
			}
		}
	}

	&__content{
		margin-bottom: 40px;
		padding-bottom: 50px;
		display: flex;
		justify-content: center;

		&--box{
			background-color: #FFF;
			padding: 20px;
			color: #333;
			border-radius: 5px;
			// min-height: 50vh;
			max-width: 100%;
			width: 700px;
		}

		&--price{
			margin-bottom: 20px;
			h4{
				font-size: 1em;
			}
			p{
				margin: 0
			}
		}

		form{
		}
		
		.dont-know-cep{
			color: #111;
		}

		input:disabled{
			opacity: .6;
		}


		form-step{
			display: none;
			// min-height: 50vh;
		}
		form-step:first-of-type{
			display: block;
		}

	}

	&__payment{
		&--item{
			padding: 20px;
		    border-radius: 10px;
		    background-color: #ddd;
		    cursor: pointer;
		    margin-bottom: 1em;
		    justify-content: space-between;
		    	transition: all 400ms;
		    img{
		    	height: 30px;
		    }
		    .mr-1_5{
		    	margin-right: 1.5em;
		    }
		    &.selected{
		    	background-color: $primary-color;
		    	transition: all 400ms;
		    	.pix{
		    		filter: brightness(10.5);
		    	}
		    }
		}
	}

	&__creditcard{
		display: none;
		padding: 20px;
		border-radius: 5px;
		border: solid 1px #ddd;
		margin-bottom: 1rem;
	}
	.finish-checkout, .btn{
		display: block;
		font-weight: bold;
		padding: 20px;
		width: 100%;
	}
}