html, body{
	width: 100%;
	height: 100%;
}

//media query para o modo de exibicao standalone presente tanto em mobile e desktop 
@media (display-mode: standalone) {
	
}

body{
	background-color: #FFF;
	font-family: Open Sans, Arial, sans-serif;
	font-style: normal;
}
.site__salespage, .site__salespage p{
	font-family: 'Caviar Dreams', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Caviar Dreams';
}

.img-fullwidth{
	width: 100%;
	height: auto;
}

.btn-diamonds{
		gap: 10px;
		padding: 5px 10px;
	    border: solid 1px #ddd;
    	border-radius: 50px;
		cursor: default;
		img{
			height: 20px;
		}
		span{
			font-family: 'Caviar Dreams';
			font-size: 1.1rem;
		}
	}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.pagination__link {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination__link.active {
    background-color: $primary-color;
    color: #333;
}

.pagination__link:hover {
    background-color: $primary-color;
    color: #333 !important;
}


p{
	font-family: 'Open Sans', sans-serif;
}

a{
	color: #333;
	text-decoration: none;
}


.hide-on-mobile{
	@media screen and (max-width: 992px){
		display: none !important;
	}
}
.hide-on-desktop{
	@media screen and (min-width: 992px){
		display: none !important;
	}
}



.color-primary{
	color: $primary-color
}
.btn-rounded{
	border-radius: 50px;
}
.btn-full{
	width: 100%;
	display: block;
}


.btn-rose{
	background-color: $primary-color;
	transition: all 400ms;
	border: solid 1px transparent;
	&:hover, &:active, &:focus{
		background-color: transparent;
		border-color: $primary-color;
		color: #333 !important;
	}
}

.btn-rose-light{
	background-color: $primary-color;
	transition: all 400ms;
	border: solid 1px transparent;
	&:hover, &:active, &:focus{
		background-color: transparent;
		border-color: $primary-color;
		color: $primary-color !important;
	}
}


.btn-full{
	padding: 10px;
	display: block;
	width: 100%;
}

.btn:hover{
	transform: translateY(-5px);
}

.btn-medium{
	padding: 10px 30px;
    font-size: 1.4rem;
    font-weight: bold;
}

.fs-3{
	font-size: 3rem;
}

.inactive{
    opacity: .2;
    pointer-events: none;
    animation: oscillation 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @keyframes oscillation {
      0%   { opacity: .2; }
      100% { opacity: .8; }
    }
}


@include media-breakpoint-down(lg) {
	section{
		// padding: 1.5rem;
	}
}

@mixin lmenu{
	.lmenu{
			background-color: #FFF;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			min-height: 100vh;
			z-index: 99;
			display: none;
			&--header{
				padding: 20px;
				img{
					height: 50px;
				}
				.fa-xmark{
					border: solid 1px #FFF;
					width: 20px;
					height: 20px;
					border-radius: 20px;
					text-align: center;
				}
			}

			ul{
				border-top: 1px solid #f5f5f5;
				margin-top: 20px;
				li{
					a{
						display: block;
						padding: 20px;

						&:hover, &:active{
							background-color: #f5f5f5;
						}
					}
					.submenu{
						display: block;
						position: relative;
						margin: 0;
					}
				}
			}
		}
}