.admin__dashboard{
	display: flex;
	flex-direction: row;
    align-items: stretch;
	min-height: 100%;


	@media screen and (max-width: 1200px){
		display: flex;
		flex-direction: column;
	}

	@media screen and (min-width: 1200px){
		&--nav, &--content{
			min-height: 100%;
		}
	}
	&--nav{
		width: 250px;
		max-width: 100%;
		color: #FFF;
		@media screen and (max-width: 1200px){
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 20px;
		}


		.logo{
			padding-left: 40px;
			padding-right: 40px;
			max-width: 100%;
			margin-top: 40px;
			@media screen and (max-width: 1200px){
				width: 250px;
				margin-top: 0;
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}

		ul{
			list-style: none;
			margin: 0;
			padding: 0;

			
			li{
				// padding: 10px;
				a{
					display: block;
					padding: 10px;
					transition: all 300ms;
					&:hover{
						background-color: $primary-color;
						color: #FFF;
					}
				}
				ul{
				    background-color: rgb(20, 20, 20);
				}
					li a{
						padding-left: 30px;
						padding-top: 1px !important;
						padding-bottom: 1px !important;
					}
			}
		}

		.admin__dashboard--nav--mobilebtn{
			display: none;
		}

		@media screen and (max-width: 1200px){
			nav{
				display: none;
				position: absolute;
		        top: 120px;
		        background: #000;
		        width: calc(100% - 40px);
		        z-index: 9999999;
			}

			.admin__dashboard--nav--mobilebtn{
				display: block;
				width: 80px;
			}
		}
	}

	&--content{
		width: calc(100% - 250px);
		background-color: #FFF;
		padding: 40px;

		@media screen and (max-width: 1200px){
			width: 100%;
		}

		a{
			color: #000 !important;
		}


		.enabled{
			padding: 5px;
			background-color: green;
			color: #FFF;
		}

		.disabled{
			padding: 5px;
			background-color: red;
			color: #FFF;
		}

		@import "../app/companies";
	}
}